@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400";

html,
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(#4D9393, #86CC99);
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.nav{
  background-color: #F7F7F7;
  width: 90%;
  height: 158px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  /*opacity: 0.8;*/
  z-index: 2;
  
}
.nav-titles {
  position: absolute;
  right: 0;
  text-align: right;
  width: 1000px;
  vertical-align: middle;
  padding: 0px;
  display: inline-block;
  margin-top: 70px;
}
.burger{
  visibility: hidden;
}

.logo-nav{
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 10px;
  padding: 20px !important;
}


.nav-title{
  display: inline;
  text-align: right;
  font-size: 16px ;
  padding: 15px ; 
}

.container{
  padding-top: 78px;
  width: 90%;
}
.section{
  padding: 50px 0 50px 0;
  border:solid 1px #F7F7F7;
  background-color: #ffffff;
}
.centered-content{
  display: block;
  text-align: center;

}
.section-content{
  padding: 50px 50px 0 50px;
}
.title-section{
    text-align: center;
    font-size: 32px;
}
.under-title { 
	background:linear-gradient(#4D9393, #86CC99); 
  margin: auto ;
  margin-top: 5px;
  height: 2px;
  width: 104px;
}

.button {
   background-color: #4D9393; /* Green */
   border: none; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  border-top-left-radius:35px;
	border-top-right-radius:35px;
	border-bottom-left-radius:35px;
	border-bottom-right-radius:35px;
}

.text-section{
  margin-top: 50px;
}

.bottom-section{
  background: #ffffff;
  height :100px;
  border-radius: 0 0 25px 25px;
}
.footer{
  color: #ffffff;
  margin:50px;
  width: 90%;
  padding-left: 50px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1;
}
.two {
  grid-column: 2;
}

.profile-pic{
  box-shadow:10px 10px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1200px) {
  .nav-title{
    font-size: 14px ;
    padding: 10px ;
  }
}
@media screen and (max-width: 1000px) {
  .nav-title{
    visibility: hidden;
  }
  .burger{
    visibility: visible;
    position: absolute !important;
    top: 30px;
    right: 0 !important;
    text-align: right !important;
    vertical-align: middle !important;
    padding: 0px;
    display: inline-block !important;
    
  }
  .burger>svg{
    width: 200px;
    height: 100px;
    color: #4D9393;
  }
}